/*!
Free Bootstrap Themes : https://www.zerotheme.com
 */

/* Bootstrap overrides */
.container-fluid {
    padding-right: 0; padding-left: 0;
}
.navbar-inverse {
/*    background-color: #182948;*/
    /*background-color: rgb(48,51,109);*/
    background-color: rgb(23,44,107)
}
.navbar-inverse .navbar-nav > li > a {
    color: rgba(200,200,200,0.8);
    font-size: 1rem;
    text-transform: uppercase;
}
.navbar-brand {
    padding-top: 0;
    padding-left: 5px;
}
.navbar-brand img {
    max-height: 50px;
    width: auto;
}


/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html {
    font-size: 16px;
}
html, body {width:100%; padding:0; margin:0;}
body {
    font-size: 18px;
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{/*color: #337AC6;*/text-decoration: none;}
a:hover {opacity: 0.9; text-decoration: none;}

h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.2rem;}
h5 {font-size: 20px;}

p{margin-bottom: 20px;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

hr {border: 1px solid #eee;margin-top: 30px;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header {
    margin: 0 auto 0 auto;
    background: #ddd;
    padding: 80px 40px 60px 40px;
    /* padding-left: 70px;
    padding-top: 100px; */
    border-radius: 0;-webkit-border-radius: 0px;-moz-border-radius: 0px;-khtml-border-radius: 0px;
    background-image: url(../images/bay-bridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0px 0px 4px #000;
    /*text-shadow: -1px -1px 3px #000;*/
    min-height: 300px; /* might need to change this for mobile */
    max-width: 2100px;

}
/* header .row {
    display: inline-block;
    vertical-align: middle;
} */
header h1 {
    /* margin-bottom: 0; */
}

header  .intro {
    font-size: 1.5rem;font-weight: bold;/*margin-bottom: 20px;*/
    color: rgba(255,255,255,0.9);
}
.header-outer.main { background-color: rgb(17,34,67);}
/* .header-outer.main header { padding: 90px 40px 60px 40px; } */

.header-outer.licensing { background-color: rgb(200,194,190); }
.header-outer.licensing header { background-position: 20% 20%;}

.header-outer.background { background-color: rgb(105,116,112); }
/* .header-outer.background header { max-width: 2000px; } */

.header-outer.negotiatingSkills{ background-color: rgb(4,5,10); }

.header-outer.publications{ background-color: rgb(195, 150, 109);}
.header-outer.publications header { /*max-width: 1800px;*/
                                    background-position: 0 40%;}

.header-outer.conferences{ background-color: rgb(10, 13, 46);}
.header-outer.conferences header { max-width: 1200px;
                                   background-position: 0 40%;}

.header-outer.litigations{ background-color: rgb(66, 92, 115);}
.header-outer.litigations header { /*max-width: 1200px;*/
                                  background-position: 0 50%;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content {margin-bottom: 30px;}
#page-content .heading {margin-bottom: 30px;}
/* #page-content .heading h2 {font-size: 28px;} */
#page-content .content {
    padding-top: 4vh;
}
#page-content .box-item {
    text-align: center;
    padding: 0;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    /* border: 10px solid #aaa */
}
#page-content .box-item.background { background-color: #EAF4FF;
                                     border-color: #EAF4FF; }
#page-content .box-item.publications { background-color: #F8F1EC;
                                       border-color: #F8F1EC }
#page-content .box-item.negotiating { background-color: #EFF2E9;
                                      border-color: #EFF2E9 }


#page-content .box-item img {margin-bottom: 10px;}
#page-content .box-item h3 {
    margin: 0.5rem 1.5rem 0.8rem 1.5rem;
}
#page-content .box-item p {
    margin: 0.5rem 1.5rem;
}
#page-content .box-item .cta {
    margin: 1rem 1rem 1.5rem 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: rgba(23,37,63,0.8);
    border: none;
}

#page-content .pitch-text {
    /*background: #444; color: #f3f3f3;*/
    background: #e3e3e3;
    color: #666;
    text-align: center;
    font-size: 1.75rem;
    padding: 5vh 5vw 3vh 5vw;
    border-top: 1px solid #333;
}


#page-content .publications-list li {
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    /*border: 1px solid #ccc;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);*/
}
#page-content .publications-list li .title {
    font-weight: bolder;
    display: block;
}
#page-content .publications-list li .citation {
    display: block;
    color: #aaa;
}
#page-content .publications-list li .blurb {
    color: #888;
    margin: 0.5rem 1rem 0 1rem;
}

#page-content .event-photos img {
    margin-bottom: 1rem;
}
#page-content figcaption {
    font-size: 0.9rem;
    color: #777;
    margin-top: 0.25rem;
}

#page-content .block-quote {
    font-family: serif;
    font-style: italic;
    font-size: 1.5rem;
    padding: 1rem;
}
#page-content .block-quote p {
    margin-bottom: 0.4rem;
}
#page-content .block-quote .attribution {
    margin-right: 10vw;
    text-align: right;
    font-size: 1.2rem;
}
#litigationExprienceTables td {
    vertical-align: middle;
}

#page-content .subtext {
  display: block;
  color: #aaa;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {
    /* color: #aaa; */
    color: #FFFFFF;
    font-size: 1rem;
    /* background-color: #f3f3f3; */
    background-color: #C8C8C8;
    /* background-color: #919191; */  /* Logo Color */

}
footer .wrap-footer {padding-bottom: 1.5rem;}
footer .contact img.logo {
    width: 80px;
    height: 80px;
    opacity: 0.9;
    float: left;
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
footer .contact .name {
    padding-top: 3rem;
}
footer .copyright {
    clear: both;
}
